SECRET_KEY=django-insecure-b+e21u07^@kwhzte6!hmk$2!hx6!t(1p@i+&o9n(7=f=@x^ak!
DB_NAME=cexpressions
DB_USER=db_admin_01
DB_PASSWORD=cexpressions_db_admin_password
DB_HOST=claudette-db-01.cl0oqakq2aob.us-east-1.rds.amazonaws.com
DB_PORT=5432
ADMIN_EMAIL=admin@cexpressions.com
ADMIN_PASSWROD=cexpressions_admin_password
USE_ADMIN_OTP_LOGIN=False
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=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
FB_APP_SECRET=53ab9eccc8ce22061b3a7c7d78769351
FB_APP_ID=1501122450453695
EMAIL_HOST_USER=Awtutors3@gmail.com
EMAIL_HOST_PASSWORD=ixsr gfuq yfqb rbnr
AUTH_APPLE_KEY_ID=
AUTH_APPLE_TEAM_ID=
AUTH_APPLE_PRIVATE_KEY=
AUTH_APPLE_CLIENT_ID=
AUTH_APPLE_APP_ID=
DEBUG=False
APP_NAME=Cexpressions
